/* Custom CSS for page 1 of character creator */

body {
	position: relative;
}

ul.nav-pills {
	top: 20px;
	position: fixed;
}

div.col-8 div {
	height: 500px;
}

.select2 option:disabled, .select3 option:disabled .select4 option:disabled .select5 option:disabled .select6 option:disabled
	{
	color: #999;
}

.cards-wrapper {
	background-color: white;
	width: 80%;
	margin: 10%;
	opacity: 70%;
	margin-top: 5%;
	-webkit-text-fill-color: black;
	border-radius: 25px;
	box-shadow: 5px 10px;
}

.number-select {
	-webkit-text-fill-color: rgb(23, 15, 7);
	width: 25%;
	font-size: 24px;
	text-align: center;
	border-radius: 25px;
	box-shadow: 2px 2px;
}


img {
	height: 170px;
	width: 170px;
}

#section11 {
	background-color: rgb(74, 78, 105);
	-webkit-text-fill-color: aliceblue;
	text-align: center;
	text-shadow: 1px 1px;
}

#section12 {
	background-color: rgb(74, 78, 105);
	-webkit-text-fill-color: aliceblue;
	text-shadow: 2px 2px;
	text-align: center;
	padding: 5%;
	opacity: 80%;
}

#section21 {
	background-color: rgb(94, 66, 94);
	-webkit-text-fill-color: rgb(23, 15, 7);
	text-shadow: 1px 1px;
}

#section22 {
	background-color: rgb(94, 66, 94);
	-webkit-text-fill-color: rgb(23, 15, 7);
	text-shadow: 1px 1px;
	text-align: center;
	padding: 5%;
}

#section31 {
	background-color: rgb(74, 78, 105);
	-webkit-text-fill-color: aliceblue;
	text-shadow: 1px 1px;
	text-align: center;
	opacity: 80%;
	margin-bottom: 5px
}

#section32 {
	background-color: rgb(94, 66, 94);
	-webkit-text-fill-color: rgb(23, 15, 7);
	text-align: center;
	opacity: 60%;
}

.card-text {
	margin: 10px;
	font-size: large;
}

.custom-select-lg {
	padding: 10px;
	box-shadow: 5px 5px;
	-webkit-text-fill-color: black;
	border-radius: 25px;
}

#charName {
	-webkit-text-fill-color: black;
	border-radius: 25px;
	box-shadow: 5px 5px;
	opacity: 80%;
}