<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
</head>

<body>
<form action="#" data-th-action="@{/action/edit}" data-th-object="${class}" method="post">
    <div class="container-fluid">
        <div class="row" style="background-color: rgb(113, 15, 15);">
            <div class="col-sm-4 col-md-4">
                <div class="card align-items-center" style="width: 80%; margin: 10%; margin-top: 15%;">
                    <div class="card-body" style="text-align: center;">
                        <h1 class="card-title">Barbarian</h1>
                        <img src="/Images/barb2.png" style="height: 200px; width: 200px;">
                        <p class="card-text" style="margin: 10px;">Flex your muscles and RAGE! Barbarians know how to take a hit, and they know how to deal them even better. </p>
                        <button type="submit" name="action" value="barbarian">Pick me!</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="card align-items-center" style="width: 80%; margin: 10%; margin-top: 15%;">
                    <div class="card-body" style="text-align: center;">
                        <h1 class="card-title">Bard</h1>
                        <img src="/Images/bard2.png" style="height: 200px; width: 200px;">
                        <p class="card-text" style="margin: 10px;">Strum your lute and charm your enemies! Bards support their team with a magical song and a charming smile. </p>
                        <button type="submit" name="action" value="bard">Pick me!</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="card align-items-center" style="width: 80%; margin: 10%; margin-top: 15%;">
                    <div class="card-body" style="text-align: center;">
                        <h1 class="card-title">Cleric</h1>
                        <img src="/Images/cleric2.png" style="height: 200px; width: 200px;">
                        <p class="card-text" style="margin: 10px;">Granted healing powers by the Gods themselves, a Cleric is a blessed magical addition to your team. </p>
                        <button type="submit" name="action" value="cleric">Pick me!</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="card align-items-center" style="width: 80%; margin: 10%; margin-top: 15%;">
                    <div class="card-body" style="text-align: center;">
                        <h1 class="card-title">Druid</h1>
                        <img src="/Images/druid2.png" style="height: 200px; width: 200px;">
                        <p class="card-text" style="margin: 10px;">One with nature and friend to all animals! A Druid channels magic of plants and animals.</p>
                        <button type="submit" name="action" value="druid">Pick me!</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="card align-items-center" style="width: 80%; margin: 10%; margin-top: 15%;">
                    <div class="card-body" style="text-align: center;">
                        <h1 class="card-title">Fighter</h1>
                        <img src="/Images/fighter2.png" style="height: 200px; width: 200px;">
                        <p class="card-text" style="margin: 10px;">Brave knights take up swords and shields and leap into batttle! Masters of weapons and of battles.</p>
                        <button type="submit" name="action" value="fighter">Pick me!</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="card align-items-center" style="width: 80%; margin: 10%; margin-top: 15%;">
                    <div class="card-body" style="text-align: center;">
                        <h1 class="card-title">Paladin</h1>
                        <img src="/Images/paladin2.png" style="height: 200px; width: 200px;">
                        <p class="card-text" style="margin: 10px;">A holy protector! Blessed with both magic from the Gods and great strength in battle, a paladin is the best of both worlds. </p>
                        <button type="submit" name="action" value="paladin">Pick me!</button>  
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="card align-items-center" style="width: 80%; margin: 10%; margin-top: 15%;">
                    <div class="card-body" style="text-align: center;">
                        <h1 class="card-title">Rogue</h1>
                        <img src="/Images/rogue2.png" style="height: 200px; width: 200px;">
                        <p class="card-text" style="margin: 10px;">Slip into shadow and disappear. Rogues pick locks just as well as they pick pockets.</p>
                        <button type="submit" name="action" value="rogue">Pick me!</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="card align-items-center" style="width: 80%; margin: 10%; margin-top: 15%;">
                    <div class="card-body" style="text-align: center;">
                        <h1 class="card-title">Sorcerer</h1>
                        <img src="/Images/sorcerer2.png" style="height: 200px; width: 200px;">
                        <p class="card-text" style="margin: 10px;">Born with magic in their blood, a Sorcerer is a very powerful mage since childhood.</p>
                        <button type="submit" name="action" value="sorcerer">Pick me!</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="card align-items-center" style="width: 80%; margin: 10%; margin-top: 15%;">
                    <div class="card-body" style="text-align: center;">
                        <h1 class="card-title">Warlock</h1>
                        <img src="/Images/warlock2.png" style="height: 200px; width: 200px;">
                        <p class="card-text" style="margin: 10px;">Locked in a deal with a dark God, Warlocks are granted magic power from somewhere beyond.</p>
                        <button type="submit" name="action" value="warlock">Pick me!</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="card align-items-center" style="width: 80%; margin: 10%; margin-top: 15%;">
                    <div class="card-body" style="text-align: center;">
                        <h1 class="card-title">Wizard</h1>
                        <img src="/Images/wizard2.png" style="height: 200px; width: 200px;">
                        <p class="card-text" style="margin: 10px;">Filled with a desire to gain magical knowledge, Wizrads have learned the secrets to magic all by themselves.</p>
                        <button type="submit" name="action" value="wizard">Pick me!</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="newcharacterstart.html">Start</a></li>
                <li class="page-item"><a class="page-link" href="race.html">Race</a></li>
                <li class="page-item"><a class="page-link" href="class.html">Class</a></li>
                <li class="page-item"><a class="page-link" href="abilities.html">Abilities</a></li>
                <li class="page-item"><a class="page-link" href="weapon.html">Weapons</a></li>
                <li class="page-item"><a class="page-link" href="item.html">Items</a></li>
            </ul>
        </nav>
    </div>
    </div>
    </div>
</body>

</html>