<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parent Info Page</title>
     <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
</head>

<body>
    <div class="container-fluid" style="background-image: url('images/fantasyHome.jpg'); height: 100%;background-repeat: no-repeat;background-attachment: fixed;
    background-size: cover; text-align: center;">
        <div class="row" style="height: 1500px;">
            <div class="col-sm-6 col-md-6"
                style="-webkit-text-fill-color: white; text-shadow: 2px; margin-top: 15%; width: 100%;">
                <h1>What is Dungeons and Dragons?</h1>
                <form>
                    <ul>
                        <li>Dungeons and Dragons is a "table-top role-playing game". This means it is a game mostly of
                            imagination!</li>
                        <li>Players create a fantasy character (maybe they can cast magic spells, maybe they can sword
                            fight) and come together
                            at the table.</li>
                        <li>One player -The Dungeon Master- creates the settings and events in their head
                            and invites everyone else to interact with their story as their characters. </li>
                        <li>The players and DM roll dice and calculate scores to decide the outcome of their actions.
                        </li>
                        <li>The game is as age appropriate as the players and Dungeon Master make it, since it is mostly
                            imagined.</li>
                        <li>Dungeons and Dragons is a great exercise in creativity and group problem solving for your
                            child!</li>
                        <li>The calculation of dice rolls is a fun and engaging math practice.</li>
                        <li> <strong>Though violence is not a necessary part of the game, mixing swords and monsters usually
                            results in sword fighting. 
                            Parents should be aware of this and advise/monitor younger children as they see fit!</strong></li>
                    </ul>
                </form>

                <a th:href="@{/register}" class="btn btn-light btn-lg" role="button"
                    style="-webkit-text-fill-color: black;">Back to Register!</a>
            </div>
            </div>
            </div>
            
</body>

</html>