<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
</head>

<body>

    <div class="container-fluid" style="background-image: url('/images/fantasyHome.jpg'); height: 100%;background-repeat: no-repeat;background-attachment: fixed;
    background-size: cover;">
        <div class="row" style="height: 1500px;">
            <div class="col-sm-6 col-md-6" style="-webkit-text-fill-color: white; text-shadow: 2px; text-align: center; margin-top: 15%;">
                <h2>Enter a world of your own making</h2>
                <p style="margin-top: 10%;">Here you can design your own custom fantasy character for you to bring to life with your friends.<br>
                    Give them magic, give them swords, give them life!<br>

                </p>
                <a th:href="@{/parentInfo}" class="btn btn-light btn-lg" role="button"
                    style="-webkit-text-fill-color: black; margin: 10%;">Parent Info</a>
            </div>
            <div class="col-sm-6 col-md-6" style="height: 100%; text-align: center;">
                <div class="card text-center" style="width: 80%; margin: 10%; opacity: 85%; margin-top: 25%;">
                    <div class="card-body" style="text-align: center;">
                        <h1 class="card-title">Welcome Adventurer!</h1>
                        <div class="container">
                            <h6>Please ask a parent to help you sign up</h6>
                            <form action="#" th:action="@{/register/save}" th:object="${user}" method="post" >
                                <div class="form-group">
                                    <label for="name">Your name:</label>
                                    <input type="text" class="form-control" id="name" th:field="*{userName}"
                                        placeholder="Enter your first name" name="name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Parent's Email:</label>
                                    <input type="text" th:field="*{userEmail}" class="form-control" id="email"
                                        placeholder="Enter your parents email" name="email">
                                </div>
                                <div class="form-group">
                                    <label for="pass">Password:</label>
                                    <input type="password" th:field="*{userPass}" class="form-control" id="pass" placeholder="Enter your password"
                                        name="pass">
                                </div>
<!--                                 <a th:href="@{/index}" class="btn btn-light btn-lg" role="button" -->
<!--                     style="-webkit-text-fill-color: black; margin-top: 5%;">Sign up!</a> -->
  <label for="subbut">Sign up!</label><br>
  <input type="submit" id="subbut" name="subbut">
                                <a th:href="@{/login}" class="btn btn-light btn-lg" role="button"
                    style="-webkit-text-fill-color: black; margin-top: 5%;">I already have an account</a>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    </div>
</body>

</html>